@font: 18px;
@blue: #0074ff;

.border-radius(@radius: 5px) {
  border-radius: @radius;
}

span.l {
  display: inline-block;
  font-size: @font;
  margin-top: 30px;
  padding: 10px;
  border: 2px solid @blue;
  .border-radius(4px);
}